<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="db" connectionString="Provider=PostgreSQL OLE DB Provider;Server=127.0.0.1;Port=5432;Database=FromZeroToHero;Integrated Security=true;"/>
	</connectionStrings>
</configuration>